* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: Raleway;
    background: url(../images/background_login.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

header {
    background: linear-gradient(to right, rgb(55, 22, 133), rgb(114, 62, 197));
    overflow: hidden; 
    box-shadow: 0 0 15px 2px rgb(26, 26, 26);
    z-index: 20;
}

/* Style the Logo */
.logo { 
    float: left;
    padding-left: 48px;
}

.logo_a {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
}

/* Style the navigation links */
.nav_ul {
    float: right;
}

.nav_li {
    display: inline-block;
    padding-right: 48px;
}

.nav_a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav_pricing {
    padding: 10px 20px;
    background: whitesmoke;
    color: rgb(164, 18, 177);
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
}



/* Banner */
.banner {
    background: linear-gradient(to right, rgb(55, 22, 133), rgb(114, 62, 197));
    height: 91vh;
    align-items: center;
    /* margin-top: 250px; */
    justify-content: center;
    display: flex;
}

.typewriter {
    color: whitesmoke;
    font-size: 50px;
}
.cursor {
    background: #333333;
    height: 8vh;
    width: 10px;
    /* transform: translateX(-600px); */
    /* animation: cursorMove 5s linear; */
    animation: blink .2s linear infinite;
    -webkit-animation: blink .2s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* For media queries */
.burger {
    display: none;
}

.phone_nav_div {
    display: none;
}

.phone_nav_bg {
    display: none;
}

@media screen and (max-width:680px) {
    /* Remove Existing Nav */
    .nav_ul {
        display: none;
    }

    .logo {
        padding-left: 24px;
    }

    /* Replace with New Nav and Burger */
    .burger {
        display: block;
        width: 10%;
        filter: invert(1);
        /* filter: contrast(100); */
        float: right;
        cursor: pointer;
        outline: none;
    }
    
    .phone_nav_div {
        position: fixed;
        left: -20rem;
        z-index: 1000;
        display: block;
        clear: both;
        width: 80%;
        height: 100vh;
        background: #222222;
        padding-top: 100px;
        box-shadow: 0 0 15px 5px #222222;
        transition: left 1s ease;
    }

    .phone_nav_div.show {
        left: 0;
    }

    .phone_nav_ul {
        padding-bottom: 105px;
    }

    .phone_nav_li {
        padding: 10px 0;
        text-align: center;
        list-style: none;
    }

    .phone_nav_a {
        text-decoration: none;
        color: whitesmoke;
    }

    .nav_under_f {
        background: whitesmoke;
        bottom: 0;
        position: relative;
        width: auto;
    }
    
    .nav_copy {
        text-align: center;
        margin-top: 12px;
        color: rgb(173, 173, 173);
    } 




    .typewriter {
        color: whitesmoke;
        font-size: 30px;
        text-align: center;
        padding: 0 20px;
    }

    .cursor {
        display: none;
    }
}